body{
    background-color: rgb(71, 233, 112);
    text-align: center;
    padding: 250px;
    font-size: 35px;
    text-transform:initial;
    text-align-last: left;
    text-decoration-color: pink;
}